# Übung zur Einführung in Pandas

### Import
**A.** Importieren Sie die notwendigen Bibliotheken, um mit Python-Datensätzen arbeiten und insbesondere auch SQLite Datenbanken einlesen zu können!

### SQL Datenbank einlesen
**B.** Lesen Sie die Daten der in Chicago abgeschleppten Fahrzeuge aus der SQLite-Datenbank `data/towed.db` ein und sorgen Sie dabei dafür, dass das Datum in der `date`-Spalte auch als solches gelesen wird!

**Hinweise**
1. die Dokumentation zu `pandas.io.sql.read_sql()` findet man [hier](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html)
2. das `strftime`-kompatible Datumsformat ist hier `%m/%d/%Y`

## Pandas und SQL
Die folgenden Aufgaben sollten Sie möglichst parallel mit SQL lösen, indem Sie z.B. die gerade eingelesene Datenbank mit einer SQLite GUI öffnen und entsprechende SQL-Statements ausführen! Das SQL-Äquivalent sollten Sie immer hier angeben!

### Überblick über die Daten
**C.** Schauen Sie zunächst 
1. die ersten 5 Datensätze,
2. dann die Datensätze 100 - 104 an und
3. informieren Sie sich dann über die *Struktur* des Datensatzes!

#### SQL-Äquivalent
```SQL
SELECT
```

#### SQL-Äquivalent
```SQL
SELECT
```

#### SQL-Äquivalent
```SQL
SELECT
```

### Erste Abfragen
**D.** Zeigen Sie die am 4.11.2014 abgeschleppten Fahrzeuge an

#### SQL-Äquivalent
```SQL
SELECT
```

### Indexe
**E.** Benutzen Sie die Datumsspalte als Index!

### Weitere Abfragen
**F.1.** Zeigen Sie die Informationen über die am 4.11.2014 abgeschleppten Fahrzeuge an (erste 5 Zeilen).

#### SQL-Äquivalent
```SQL
SELECT 
```

**F.2** Zeigen Sie das Datum und die Marken der am 4.11.2014 abgeschleppten Fahrzeuge an

#### SQL-Äquivalent
```SQL
SELECT
```

**F.3** Zeigen Sie das Datum, die Marke, die Farbe und den Bundesstaat der abgeschleppten Fahrzeuge an (erste 5 Zeilen)

#### SQL-Äquivalent
```SQL
SELECT
```

### Filterbedingungen
**F.4** Zeigen Sie die abgeschleppten FORDs an (absteigend nach den Bundesstaaten geordnet)

#### SQL-Äquivalent
```SQL
SELECT 
```

**F.5** Zeigen Sie alle schwarzen Abgeschleppten aus dem Staat **MI**chigan an!

#### SQL-Äquivalent
```SQL
SELECT
```

**F.6** Zeigen Sie alle abgeschleppten **PORS**che oder **N**ew **Y**orker an (geordnet nach Marke (aufsteigend) und Farbe (absteigend))!

#### SQL-Äquivalent
```SQL
SELECT
```

### Maskierung
**F.7** Legen Sie eine Filtermakske an für die Fahrzeuge mit 4D-Stil aus **IL**linnois!

#### SQL-Äquivalent
```SQL
CREATE VIEW 
```

**F.8** Stellen Sie fest, wie viele abgeschleppte Fahrzeuge die Bedingung erfüllen!

#### SQL-Äquivalent
```SQL
SELECT 
```

**F.9** Zeigen Sie das Datum, den Hersteller, das Modell und die Farbe der in abgeschleppten 4D-Fahrzeuge aus Illinois an!

#### SQL-Äquivalent
```SQL
SELECT 
```

### Gruppierung
**G.1** Erzeugen Sie ein Objekt, welches die abgeschleppten Fahrzeuge nach Bundesstaaten gruppiert

**G.2** Zählen Sie die Werte in den einzelnen Spalten gemäß der Gruppierung (erste 5 Datensätze)!

#### SQL-Äquivalent
```SQL
SELECT 
```

**G.3** Zählen Sie die Anzahl der Datensätze gemäß der Gruppierung (letzte 5 Datensätze)!

#### SQL-Äquivalent
```SQL
SELECT 
```

**G.4** Zeigen Sie die 10 Staaten mit den meisten abgeschleppten *verschiedenen* Fahrzeugen an (`plate` identifiziert das Fahrzeug)!

#### SQL-Äquivalent
```SQL
SELECT 
```

## Analyseaufgabe
Generieren Sie einen Datensatz / eine Tabelle mit den US-Bundesstaaten und deren Entfernung zu Chicago. Verbinden Sie diesen mit dem Datensatz / der Tabelle `towed`. Ermitteln Sie dann den Zusammenhang zwischen den Entfernungen und der Anzahl der abgeschleppten Fahrzeuge aus den einzelnen Staaten.

**Hinweise**
1. Sie können als Entfernungen der Staaten zu Chicago einfach die Entfernungen zwischen Chicago und den Hauptstädten der Bundesstaaten nehmen (oder eine andere sinnvolle Approximation)
2. Wenn Sie die Tabelle zunächst als Textdatei (csv) generieren, dann können Sie die sehr einfach sowohl in Python, asl auch in MySQL oder SQLite importieren und damit wieder SQL und Python parallel verwenden.

#### SQL-Äquivalent
```SQL
SELECT 
```